@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Domain.Users.Repository;
@using Infrastructure;
@using Domain.Users
@using Infrastructure.Extends
@model Domain.Users.KjUser
@{
    var roles = IocContainer.Resolve<IRolerRepository>().GetAll().Select(p => new { p.Id, p.Name, IsCheck = Model.RoleList.Any(a => a.Id == p.Id) }).ToJson();
    var UserTypes = EnumExtensions.ToEnumData(typeof(UserType)).ToJson();
}
<link href="~/gentelella-master/vendors/bootstrap-fileinput-master/css/fileinput.min.css" rel="stylesheet" />
<script src="~/gentelella-master/vendors/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<div class="x_content" style="margin-top:20px;" id="content_from">
    <table class="fromtable">
        <tr>
            <td class="fromtabletd">      <label>姓名<span class="required" style="color:red; ">*</span>：</label></td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control input-defalut" v-model="Data.Name">
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd">      <label>账号：</label></td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control input-defalut" v-model="Data.Account">
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd">      <label>密码：</label></td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="password" class="form-control input-defalut" v-model="Data.Password">
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd">      <label>再次输入密码：</label></td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="password" class="form-control input-defalut" v-model="Data.Password1">
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd"> 头像： </td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="hidden" v-model="Data.Image" />
                    <div class="file-loading">
                        <input id="file-fr" name="file-fr[]" type="file" multiple>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd">      <label>用户类型：</label></td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="select2_single form-control input-defalut" tabindex="-1" v-model="Data.UserType">
                        <option v-bind:value="item.Key" v-for="item in UserTypes">{{item.Value}}</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd">      <label>角色：</label></td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div>
                        <template v-for="value in Roles">
                            <label style="margin-right:8px;margin-top:8px;">
                                <template v-if="value.IsCheck==true">
                                    <input type="checkbox" class="flat" value="{{value.Id}}" name="role" checked="checked"> {{value.Name}}
                                </template>
                                <template v-else>
                                    <input type="checkbox" class="flat" value="{{value.Id}}" name="role"> {{value.Name}}
                                </template>
                            </label>
                        </template>

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="fromtabletd">  </td>
            <td class="fromtabletdt">
                <div class="col-md-9 col-sm-9 col-xs-12" style="margin-top:8px;">
                    <button type="submit" class="btn btn-success" onclick="Save()">保存</button>
                    <button class="btn btn-primary" type="button">关闭</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    var Vue = new Vue({
        el: '#content_from',
        data: {
            Data: {
                Name: '@Model.Name',
                Account: '@Model.Account',
                Password: '@Model.Password',
                Password1: '@Model.Password',
                UserType: '@Model.UserType',
                Image: '@Model.Image',
                Id:'@Model.Id'
            },
            Roles: eval(@Html.Raw(roles)),
            UserTypes:eval(@Html.Raw(UserTypes))
        }
    })

    function Save()
    {
        var param = Vue.Data;
        var ids = [];
         $("input[name=role]").each(function () {
             if($(this).is(':checked'))
             {
                 ids.push($(this).val())
             }
         });
         param.RoleIds = ids;
    }
    $(function () {
        $('#file-fr').fileinput({
            theme: 'fas',
            language: 'zh',
            uploadUrl: '@Url.Content("~/Common/UploadImage")',
            overwriteInitial: true, //不覆盖已存在的图片
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            maxFileCount: 1,
            autoReplace:true,
            uploadAsync: true,
            initialPreview: ['../Resources/build/images/back_enabled.png'],
            initialPreviewAsData: true,
        }).on("fileerror", function (event, data, msg) {         //默认上传
            alert("上传失败:"+msg)
        }).on("fileuploaded", function (event, data, previewId, index) {       //上传回调事件
            Vue.Data.Image=data.response;
        });
    })
</script>